@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans);

.projects > div {
    margin-left: 2em;
}

img.me {
    margin-top: 1em;
    width: auto;
    height: 10em;
    border-radius: 1ex;
}

img.me ~ * {
    display: inline;
    position: relative;
    bottom: -2.6ex;
}

h1.me {
    display: inline;
    vertical-align: bottom;
    font-size: 48pt;
    white-space: nowrap;
}

.social img {
    width: auto;
    height: 1em;
}

a:hover {
    text-decoration: none;
}

h1 {
    text-align: right;
}

span.no-break {
    white-space: nowrap;
}
